body {
  width: 400px;
  height: auto;
  overflow: scroll;
  font-family: Verdana, sans-serif;
}

h2 {
  text-align: center;
}

tr.collapse.in {
  display:table-row;
}

.bootstrap-datetimepicker-widget tr:hover {
  background-color: #eee;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.input-group {
    padding: 10px 10px;
    width: 100%;
    background-color: #2F3130;
    text-align: center;
}

.input-group.toggle {
    padding: 10px 10px;
    width: 100%;
    background-color: #42aae1;
    text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.table {
  margin-bottom: 0px !important;
}

.form-group {
  margin-bottom: 0px !important;
}

.borderless td, .borderless th {
    border: none !important;
}

#planningFilter {
    background-color: #424242;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: 0px;
    color: #FFF;
}

#planningFilter.toggle {
  background-color: #358cba;
  outline: 0px;
  color: #FFF;
}

#office {
  width: 100%;
}

#download {
  float: right;
  padding: 6px 0;
}

#weeklyDatePicker {
    border-radius: 20px;
    text-align: center;
}
