body {
  width: 400px;
  height: auto;
  overflow: scroll;
  font-family: Verdana, sans-serif;
}

h2 {
  text-align: center;
}

tr.collapse.in {
  display:table-row;
}

#weeklyDatePicker tr:hover {
  background-color: #eee;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.input-group {
    padding: 10px 10px;
    width: 100%;
    background-color: #2F3130;
    text-align: center;
}

.input-group.toggle {
    padding: 10px 10px;
    width: 100%;
    background-color: #42aae1;
    text-align: center;
}

.table {
  margin-bottom: 0px !important;
}

.form-group {
  margin-bottom: 0px !important;
}

.borderless td, .borderless th {
  border: none !important;
}

#menuButton {
  background-color: #3279b6;
  border-radius: 0px;
  margin-top: 10px;
  padding: 6px;
  outline: 0px;
  color: #FFF;
}

#exportMenu {
  position: relative;
}

#planningFilter {
  background-color: #424242;
  border-radius: 20px;
  margin-bottom: 10px;
  outline: 0px;
  color: #FFF;
}

#planningFilter.toggle {
  background-color: #358cba;
  outline: 0px;
  color: #FFF;
}

#office {
  width: 100%;
}

#weeklyDatePicker {
    border-radius: 20px;
    text-align: center;
}
